---
import Layout from "../layouts/Layout.astro";
import directus from "../lib/directus";
import { readSingleton } from "@directus/sdk";

const global = await directus.request(readSingleton("global"));
---

<Layout title={global.Title}>
  <main>
    <div>
      <h1>{global.Title}</h1>
      <p>{global.Description}</p>
    </div>
  </main>
</Layout>
